<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap.css">
  <title>Error</title>
  <style>
    body {
      background-color: #f8f9fa;
      word-wrap: break-word;
    }
    .error-container {
      margin-top: 100px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container error-container">
    <h1 class="display-4">Error</h1>
    <p class="lead"><%= error %></p>
    <p class="lead">We apologize for the inconvenience.</p>
    <a class="btn btn-primary" href="/signup" role="button">Go to Sign Up</a>
    <br>
  </div>
</body>
</html>






