<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Not Found</title>
    <style>
         body {
      background-color: #f8f9fa;
      word-wrap: break-word;
    }
    .error-container {
      margin-top: 100px;
      text-align: center;
    }
    </style>
</head>
<body>
    <div class="container error-container">
        <h1 class="display-4">Error</h1>
        <p class="lead">404 Post Not Found</p>
        <p class="lead">Oops! It seems like the posts you are looking for doesn't exist.</p>
        <a class="btn btn-primary" href="/feed" role="button">Go back</a>
        <br>
      </div>
</body>
</html>
